---
import GitHub from "../icons/GitHub.astro"
---

<a href="https://github.com/ecstatic5/spacex-launches-project" class="flex items-center gap-2 text-white  font-medium py-1 px-2 rounded-md shadow-sm transition-all hover:scale-105 border-white border-[0.5px]">
  <GitHub/>
  Source Code
</a>