---
import Layout from '../layouts/Layout.astro';
import Launch from '../components/ui/Launch.astro';

const res = await fetch("https://api.spacexdata.com/v3/launches?limit=100")
const data = await res.json()

---

<Layout title="SpaceX Launches">
  <main class="grid mx-auto h-full gap-4 p-8 mt-6  grid-cols-1 lg:grid-cols-2 md:w-[90%] lg:w-[100%] xl:grid-cols-4 xl:w-[80%]">
    {data.map(val =>
     <Launch
        title={val.mission_name}
        details={val.details}
        image={val.links.mission_patch_small}
        date={val.launch_year}
      />)}
  </main>
</Layout>
